<div class="h-screen w-full bg-gray-900">

  <!-- image section -->
  <div class="h-1/4 bg-cover bg-center" style="background-image: url(../assets/images/hero-image-github-profile.png);">

    <div class="flex justify-center align-middle md:w-1/2 px-3 mb-6 md:mb-0">
      <input type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="username" name="username" placeholder="Github username" [formControl]="usernameControl"
        (keydown.enter)="onUserSearchClick()" />
    </div>

  </div>

  <!-- base info -->
  <div class="text-white container mx-auto">
    <ul class="flex items-center justify-around">
      <li class="list-item">
        <img class="profile-image" src="../assets/images/profile-dummy.jpg" alt="profile-img">
        <h2>Github</h2>
        <p>How people build software</p>
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Followers</p>
          <p>1245</p>
        </div>
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Following</p>
          <p>0</p>
        </div>
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Location</p>
          <p>San Francisco, CA</p>
        </div>
      </li>
    </ul>
  </div>

  <!-- repositories -->
  <div class="container mx-auto text-white p-10">

    <div class="md:grid grid-cols-3 gap-5">
      <div>
        <h3>github</h3>
        <p>repository description</p>
        <div class="inline-flex">
          <p>licence</p>
          <p>commits</p>
          <p>stars</p>
          <p>last updated at</p>
        </div>
      </div>
      <div>
        <h3>github</h3>
        <p>repository description</p>
        <div class="inline-flex">
          <p>licence</p>
          <p>commits</p>
          <p>stars</p>
          <p>last updated at</p>
        </div>
      </div>
      <div>
        <h3>github</h3>
        <p>repository description</p>
        <div class="inline-flex">
          <p>licence</p>
          <p>commits</p>
          <p>stars</p>
          <p>last updated at</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center align-middle">
    <button class="bg-gray-600 p-3 hover:bg-slate-400 transition-colors ease-in-out">View All Repositories</button>
  </div>


</div>