<header class="bg-image-section">
  <img src="../assets/images/hero-image-github-profile.png" alt="background">
</header>

<main class="bg-gray-500">

  <nav class="flex">
    <ul class="flex items-center">
      <li class="list-item">
        <img src="../assets/images/Chield_alt.svg" alt="profile image">
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Followers</p>
          <p>1245</p>
        </div>
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Following</p>
          <p>0</p>
        </div>
      </li>
      <li class="list-item">
        <div class="inline-flex">
          <p>Location</p>
          <p>San Francisco, CA</p>
        </div>
      </li>
    </ul>
  </nav>

</main>